* {
    background-color: bisque;
    color: darkslategray;
}


.lasagna-page.page-title {
    color: maroon;
    text-align: center;
    background-color: antiquewhite;
}

.lasagna-page.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}